.place-marker--kyrka {
	fill: Gray;
}

.place-marker--backstuga {
	fill: Maroon;
}

.place-marker--torp {
	fill: DarkRed;
}

.place-marker--gard {
	fill: FireBrick;
}

.place-marker--skola {
	fill: RoyalBlue;
}

.place-marker--default {
	fill: SlateGray;
}
